.timeLineWrapper {
	display: flex;
	flex-direction: column;
	
	.timeYear {
		position: relative;
    margin-left: 32px;
    padding-left: 64px;
    border-left: 2px solid #ccc;
    padding-bottom: 10px;

    span {
	    position: absolute;
	    left: 0;
	    -webkit-transform: translateX(-50%);
	    transform: translate(-50%, -50%);
	    top: 50%;
	    background-color: #0b0b0d;
	    color: #fff;
	    border: 1px solid #fff;
	    padding: 0.3em;
	    font-size: 0.8em;
    }



    .workDescription {
    	border-radius: 0;
    	background-color: #000;
    	position: relative;
    	cursor: default;
    	transition: all 200ms ease;

    	&::before {
				content: "";
				position: absolute;
		    top: 0;
		    left: 0;
		    height: 2px;
		    width: 0%;
		    background-color: #fff;
		    transition: all 200ms ease;
		    transition-delay: 100ms;
    	}

    	&::after {
    		content: "";
				position: absolute;
		    top: 0;
		    left: 0;
        height: 0%;
    		width: 2px;
		    background-color: #fff;
		    transition: all 200ms ease;
		    transition-delay: 200ms;
    	}

    	&:hover {
				transform: translateX(-5px);

    		&::before {
    			width: 100%;
    		}

    		&::after {
    			height: 100%;
    		}
    	}

    	h4 {
		    color: whitesmoke;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		    font-size: 1em;
    	}

    	p {
		    color: whitesmoke;
    		font-size: 0.8em;
    	}

    	a {
    		color: whitesmoke;
    		text-decoration: underline;
    	}
    }

    .cardBody {
    	padding: 0.5em;
    }
	}
}


.onlySmall {
  display: none;
}

@media (max-width: 576px) {
  .timeYear {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;

    span {
      position: relative !important;
      display: block !important;
      transform: translate(0) !important;
      border: none !important;
      text-align: center !important;
      font-size: 1.5em !important;
      font-weight: 300 !important;
      text-transform: uppercase !important;
    }
  }

  .cardBody {
    text-align: center;
  }

  .onlySmall {
    display: block;
  }
}