@import 'mixins/flexbox';
@import 'mixins/helpers';

.aboutWrapper {
  @include flexbox();
  @include align-items(center);
  height: 100vh;

  @include bp-small {
    height: auto;
    padding-top: 3em;
    padding-bottom: 3em;
  }
}
