@import 'mixins/colors';
@import 'mixins/flexbox';

.aboutWrapper {
	@include flexbox();
	@include align-items(center);
	height: 100vh;
}

.aboutImage {
	margin: 1em auto;
	border-radius: 50%;
	display: block;
	height: auto;
	width: 150px;
}

.socialWrapper {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	margin-top: 2em;
}

.socialElement {
	display: inline-block;
	margin: 0 0.2em;

	a {
		padding: 0.5em;
	}

	i {
		font-size: 1.5em;
		color: $primary-color;
	}
}

.aboutSectionTitle {
	color: $primary-color;
}

@media (max-width: 567px) {
	.aboutWrapper {
		height: auto;
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
