@import 'mixins/colors';
@import 'mixins/flexbox';
@import 'mixins/helpers';

.aboutWrapper {
  @include flexbox();
  @include align-items(center);
  height: 100vh;

  @include bp-small {
    height: auto;
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.socialElement {
  display: inline-block;
  margin: 0 .6em;
  text-align: center;
  @include transition(all 200ms ease);

  &:hover {
    @include transform(translateY(-3px));
  }

  a {
    padding: 0.5em;
    color: $black-primary-color;

    &:hover {
      text-decoration: none;
    }
  }

  h6 {
    text-transform: capitalize;
  }

  i {
    font-size: 1.5em;
    color: $primary-color;
  }
}
