.BlogWrapper {
	padding-top: 50px;
	padding-bottom: 50px;
}

.BlogItemHover:hover {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.BlogItem {
	composes: BlogItemHover;
	border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
	border-radius: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.BlogTitle {
	text-align: center;
	font-weight: 900;
}

.UserImage {
	border-radius: 50%;
}

.CardHeading {
  display: flex;	
  align-items: center;
  background-color: #fff;
  border: none;
}

.MetaData {
  display: flex;
	flex-direction: column;
}

.MetaData small {
  font-weight: 300;
}

