@import 'mixins/colors';
@import 'mixins/flexbox';
@import 'mixins/helpers';

.btn-primary {
  background-color: transparent;
  border: none;
  border: 2px solid $white-color;
  border-radius: 0;
  padding: 0.5em 3em;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: transparent;
    border-color: $white-color;

    span {
      color: $black-primary-color;
      @include transition(all 100ms ease);
    }

    &:after {
      width: 120%;
    }
  }

  &:active {
    background-color: transparent !important;
    border-color: $white-color !important;
  }

  span {
    position: relative;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    left: -5%;
    top: 0;
    height: 100%;
    width: 0%;
    z-index: 1;
    background-color: $white-color;
    @include transition(all 200ms ease);
    @include transform(skew(160deg));
  }

  @include bp-small {
    margin: 0.5em 0;
  }
}

.btn-secondary {
  background-color: transparent;
  border: none;
  border: 2px solid $black-primary-color;
  border-radius: 0;
  padding: 0.5em 3em;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: transparent;
    border-color: $black-primary-color;

    span {
      color: $white-color;
      @include transition(all 100ms ease);
    }

    &:after {
      width: 110%;
    }
  }

  span {
    position: relative;
    color: $black-primary-color;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    left: -5%;
    top: 0;
    height: 100%;
    width: 0%;
    z-index: 1;
    background-color: $black-primary-color;
    @include transition(all 200ms ease);
    @include transform(skew(160deg));
  }
}

.activeItem {
  &:after {
    width: 120%;
  }

  span {
    color: $primary-color;
  }
}
