@import 'mixins/colors';
@import 'mixins/flexbox';

.headerWrapper {
	background-color: $black-primary-color;
	height: 100vh;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
	position: relative;
}

.headerTitle {
	font-size: 80px;
	letter-spacing: -0.04em;
	color: $white-color;
	font-weight: 300;
	text-transform: lowercase;
	text-align: center;
	cursor: default;

	span {
		font-weight: 700;
		position: relative;
		-webkit-transition: all 150ms ease;
		-o-transition: all 150ms ease;
		transition: all 150ms ease;
		margin: 0 0.2em;

		b {
			position: relative;
			z-index: 2;
			font-style: none !important;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #fff;
			-webkit-transition: all 150ms ease;
			-o-transition: all 150ms ease;
			transition: all 150ms ease;
			z-index: 1;
		}

		&:hover {
			color: #000;

			&:after {
				height: 100%;
			}
		}
	}
}

.headerSubtitle {
	composes: headerTitle;
	font-weight: 600;
	font-size: 6em;
}

.headerTextWrapper {
	padding: 2em;
}

.goToWrapper {
	position: absolute;
	bottom: 15px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.goTo {
	border: 2px solid #fff;
	mix-blend-mode: exclusion;
	width: 30px;
	height: 60px;
	border-radius: 15px;
}

.iconScrollArrow {
	display: block;
	background: #fff;
	position: absolute;
	top: 3px;
	left: 48%;
	height: 15px;
	width: 2px;
	-webkit-animation: scrollarrow 800ms infinite;
	animation: scrollarrow 800ms infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}

@-webkit-keyframes scrollarrow {
	0% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
	100% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
}

@keyframes scrollarrow {
	0% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
	100% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
}

@media (max-width: 567px) {
	.headerTitle {
		font-size: 2.5em;
	}

	.goTo {
		width: 20px;
		height: 40px;

		.iconScrollArrow {
			height: 7px;
		}
	}

	.dragIcon {
		width: 2em;
		animation-name: jump;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease;
	}	

	@keyframes jump {
    from {transform: translateY(0);}
    to {transform: translateY(-10px);}
	}
}
