@import 'mixins/colors';
@import 'mixins/flexbox';
@import 'mixins/helpers';

.navbarToggler {
  display: none;

  @include bp-small {
    display: block;
    position: absolute;
    width: 40px;
    height: 20px;
    cursor: pointer;
    z-index: 4;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }

  &:focus {
    @include bp-small {
      outline: none;
    }
  }
}

.togglerDefault {
  display: none;

  @include bp-small {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $white-color;
    position: absolute;
    @include transition(all 150ms ease);
  }

  &:nth-child(1) {
    @include bp-small {
      @include transform(translateY(-50%));
      top: 0;
      margin-left: -4px;
    }
  }

  &:nth-child(2) {
    @include bp-small {
      top: 50%;
      @include transform(translateY(-50%));
    }
  }

  &:nth-child(3) {
    @include bp-small {
      top: 100%;
      margin-left: -4px;
      @include transform(translateY(-50%));
    }
  }
  
}

.togglerOpen {
  composes: togglerDefault;

  &:nth-child(1) {
    @include bp-small {
      @include transform(translateY(10px) rotate(45deg));
      background-color: $white-color;
      margin: 0;
    }
  }

  &:nth-child(2) {
    @include bp-small {
      @include opacity(0);
    }
  }

  &:nth-child(3) {
    @include bp-small {
      @include transform(translateY(-10px) rotate(-45deg));
      background-color: $white-color;
      margin: 0;
    }
  }
}

.menuLink {
  @include bp-small {
    font-size: 2em;
  }
}
