.navbarToggler {
  position: relative;
  right: 20px;
  width: 40px;
  height: 25px;
  cursor: pointer;
  z-index: 4;
  background-color: transparent;
  border: none;
}

.navbarToggler:focus {
  outline: none;
}

.navbarTogglerItem {
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

.navbarTogglerItem:nth-child(1) {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 0;
}

.navbarTogglerItem:nth-child(2) {
  top: 50%;
}

.navbarTogglerItem:nth-child(3) {
  top: 100%;
}

.navbarTogglerItemOpen {
  composes: navbarTogglerItem;
}

.navbarTogglerItemOpen:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.navbarTogglerItemOpen:nth-child(2) {
  opacity: 0;
}

.navbarTogglerItemOpen:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(-45deg);
  -ms-transform: translateY(-15px) rotate(-45deg);
  transform: translateY(-15px) rotate(-45deg);
}