@import 'mixins/colors';
@import 'mixins/flexbox';

.pageWrapper {
  background-color: $primary-color;
}

.imageTitle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 200ms ease;
  z-index: 3;
  color: #fff;
  cursor: default;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
}

.imageWrapper {
  position: relative;

  &:after {
    content: "";
    background-color: #000;
    top: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &:hover {
    .imageTitle {
      opacity: 1;
      top: 50%;
    }
  }
}

.projectContent {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  a {
    color: #fff;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    text-decoration: none;

    &:hover {
      color: #fff;
      opacity: 1;
      text-decoration: none;
    }
  }
}

.projectTitle {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
}

.projectTitles {
  text-transform: uppercase;
  text-align: left;
  font-weight: 900;

  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #dfe6e9;
    margin-top: 5px;
  }
}

.pg {
  color: #71797b;
}

.aboutPageWrapper {
  height: 100vh;
  background-color: $primary-color;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}

.aboutContainer {
  height: 100vh;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
}

.projectInfo {
  p {
    text-align: left;
  }

  h5 {
    text-transform: uppercase;
    text-align: left;
    font-weight: 900;

    &:after {
      content: "";
      display: block;
      width: 30px;
      height: 2px;
      background-color: #dfe6e9;
      margin-top: 5px;
    }
  }
}

.projectWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}

@media (max-width: 578px) {
  .aboutPageWrapper,
  .aboutContainer {
    height: auto;
  }

  .projectTitle {
    font-size: 1.3em;
  }

  .projectImage {
    height: 25vh;
  }

  .aboutContainer {
    padding: 1em 0;
  }

  .projectWrapper {
    padding-top: 2em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .projectImage {
    height: 25vh;
  }
}
