@import 'mixins/colors';
@import 'mixins/flexbox';
@import 'mixins/helpers';

.projectsContainer {
  background-color: $primary-color;
  height: 100vh;
  padding-top: 5em;
  padding-bottom: 5em;
  @include flexbox();
  @include align-items(center);

  @include bp-small {
    height: auto;
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.ProjectImageItem {
  max-width: none;
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlayActive {
  @include filter(grayscale(100%));
  @include opacity(0.5);
  @include transition(all 200ms ease);

  &:hover {
    @include opacity(1);
    @include filter(grayscale(0));
  }
}

.overlayDefault {
  @include transition(all 200ms ease);
  @include opacity(1);
}
